body, p {
  font-family: 30 Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #2c2e2f;
}

h1, h2, h3 {
  margin-top: 10px;
  font-size: 48px;
  color: #ffffff;
}

#info {
  padding: 10px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.268);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#column {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid white;
}